.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  /* width: 70%;
  margin: 0 auto; */
}
.productList:hover {
  border: 1px solid rgb(211, 209, 209);
}
.productList:hover .addToCart {
  background-color: #eabf00;
}
.table img {
  width: 100%;
}
.mainTable {
  display: flex;

}
/* .sidebar {
  height: 200px;
  width: 250px;
  border: 1px solid #000000;
} */

.mainContainer {
  margin: 20px;
  width: 60%;
  margin: 0 auto;

}
.addToCart {
  background-color: #1b1a20;
  color: #fff;
  padding: 15px 0;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.productList {
  padding: 10px;
  margin-bottom: 30px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  /* text-align: center; */
  align-items: center;
  /* position: relative; */
}

/* .cart {
  font-size: 30px;
  position: sticky;
  top: 0;
  left: 100%;
  background-color: black;
  color: white;
  height: 40px;
  width: 60px;
  padding: 5px;
  cursor: pointer;
} */
.freeshipping {
  position: relative;
  background-color: black;
  font-size: 8px; 
  /* top: -410px; */
  width: 60px;
  color: #fff;
  padding: 5px;
  left: 70%;
  /* left: 180px; 
   top: -530px; */
  cursor: default;


  
}
.dash {
    width: 20px;
    border-bottom: 2px solid gold;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.installment {
    color:#9c9b9b;

}